@font-face{
	font-family: "Nirmala";
	src: url("../assets/fonts/Nirmala.ttf") format("truetype");
}
body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Nirmala;
	background-color: #f8fcf9;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
     background-size: 100% 100%;
}
h1{
	color: #f8fcf9;
	margin: 0;
	padding: 0;
	margin-left: 360px;
	/*margin-top: 40px;
	position: absolute;*/
}


.topo{
	width: 100%;
	min-height: 10vh;
	display: flex;
	align-items: center;
	background-color: #1f703d;
}
.rodape{
	width: 100%;
	min-height: 5vh;
	/*clear: both;*/
	background-color: #1f703d;
}
.conteudo{
	background-color: #f8fcf9;
	display: flex;
	align-items: flex-start;
	min-height: 85vh;
}
.user{
	width: 118px;
	height: 118px;
}
.icone{
	width: 135px;
	height: 135px;
}
.principal, .alertas{
	max-width: 80vw;

}

.principal {
	margin-left: 80px;
}

.alertas {
	margin-top: 75px;
}

.alert_div .action_btn {
	margin-top: 5px;
}


.btn-nav, .reconect_btn{
	background-color: transparent;
	border: 2px solid #c2c3bf;
	color: #c2c3bf;
	outline: none;
	padding: 30px 60px;
	font-size: 20px;
	border-radius: 10px; 
	display: block;
	width: 219px;
	height: 96px;
	margin: 35px 0px;

}

.reconect_btn {
	background-color: crimson;
	border: 2px solid crimson;
	border: none;
	color: white;
}

.btn-nav:hover {
	background: #1f703d;
	border: 2px solid #1f703d;
	color: white;
}


.barra_lateral{
	display: inline-table;
	text-align: center;
	margin-top: -59px;
	margin-left: 20px;
	margin-right: 20px;

}
.user{
	display: block;
	margin: auto;
}
.img_user{
	width: 118px;
	height: 118px;
	float: left;
	border: solid 1px #c7c3c2;
	border-radius: 50%;
}
.icone_user{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-top: 25px;
	margin-left: -36px;
	background: white;
	border-radius: 50%;
	border: none;
	outline: none;
}

#iom_logo {

	display: block;
	margin: 35px auto 0px auto;
}

.conection_status {
	margin-left: 5px;
	font-size: 22px;
	color: #1f703d;
	font-weight: bold;
}

.nome_user{
	color: #6dc08b;
	font-weight: bold;
	font-size: 18px;
	display: block;
}
.navegue{
	color: #6dc08b;
	font-size: 20px;
	display: block;
}
.icone_baixo{
	margin-top: -30px;
}
.passa{
	width: 68px;
	height: 68px;
	position: absolute;
	display: inline-block;
	/*position: absolute;*/
	/*margin-top: -100px;*/
}

.comodos, .funcoes {
	margin: 20px 0px;
	margin-right: 40px;
	display: flex;
	flex-wrap: wrap;
}



.action_btn {
	margin: 10px 40px 5px 0px;
}

.principal button {
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #c2c3bf;
	color: black;
	outline: none;
	background: transparent;
	
}

#btn_passa {
	width: 70px;
	height: 70px;
	margin-top: 50px;
}


.principal button:hover {
	background: #1f703d;
	border: 2px solid #1f703d;

}

.principal span {
	display: block;
	color: #249e50;
	text-align: center;
	font-size: 18px;
	margin-top: 15px;
}

.ativado {
	background: #1f703d;
	border: 2px solid #1f703d;
	color: white;
}

.desativado {
	background-color: transparent;
	border: 2px solid #c2c3bf;
	color: #c2c3bf;
}

.desligado button {
	background: transparent;
	border: 2px solid #c2c3bf;

}

.ligado button {
	background: #1f703d;
	border: 2px solid #1f703d;
}

.alert_div {
	display: flex;
	margin-bottom: 5px;

}

.alert_div .alert_message {
	height: 20%;
	margin-top: 25px;
	margin-left: 5px;
}


.alert_message p {
	font-size: 2rem;
	color: #e66f54;
	margin: 0px;
}

.alert_message span {
	text-align: left;
	background-color: #2b7747;
	color: #FFF;
	border-radius: 5px;
	padding: 1px 8px;
	display: inline-block;
	font-size: 12px;
}

.alert_message span:last-child {
	background-color: transparent;
	color: #e66f54;
	font-size: 16px;
}


@media (max-width: 1024px){
	
	.topo h1 {
		display: none;
	}
	.conteudo {
		display: block;
	}
	.barra_lateral {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.barra_lateral a {
		display: block;
	}
	.btn-nav {
		margin: 18px auto;

	}
	.principal {
		margin: auto;
		width: auto;
	}

	.action_btn {
		margin: 15px;
	}

	#btn_passa {
		display: none;
	}

	.nome_user {
		margin-top: 15px;
	}


	.comodos, .funcoes, .alertas {
		justify-content: center;
		width: 100%;
		margin: 55px auto;
	}

	.alertas {
		margin-top: 95px;
	}

	.alert_div {
		margin-bottom: 70px;
		flex-direction: column;
	}

	.alert_div .action_btn{
		margin: 0 auto;
	}

	.alert_message {
		width: 95%;
		margin: 0 20px;
		text-align: center;
	}

	.alert_message p {
		font-size: 1.5rem;
	}


}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .comodos, .funcoes, .alertas {
		justify-content: flex-start;
		/*width: 100%;*/
		width: 80%;
	}

	.action_btn, .alert_div {
		margin: 10px 15px;
	}

	.alert_div {
		flex-direction: row;
	}

	

  
}